html *{
	font-family: arial, sans-serif;
}
body{
	background-image:url('/images/connect.png');
	background-repeat: repeat;
}

.author{
	color: green;
}
.time{
	color: blue;
}

.centre{
	text-align: center; 
	margin-left: 50;
}
.container,
.container-wide {
	text-align: center; 
	margin-left: 50;
	max-width: 230px;
	margin: auto;
	padding: 20px 10px 20px 10px;
	background: white;
	border-radius: 8px;
	box-shadow: 1px 1px 8px #888888;
}

textarea{
	width: 200px;
	height: 80px;
	max-width: 380px;
	max-height: 300px;
}

.container-wide{
	max-width: 400px;
}
.animate-list{
	list-style: none;
	background: #F7F9FA;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
}
.animate-list.ng-enter,
.animate-list.ng-move,
.animate-list.ng-leave {
	-webkit-transition: all 0.2s linear;
}
.animate-list.ng-enter,
.animate-list.ng-move,
.animate-list.ng-leave.ng-leave-active {
	opacity: 0;
	max-height: 0px;
}
.animate-list.ng-enter.ng-enter-active,
.animate-list.ng-move.ng-move-active
{
	opacity: 1;
	max-height: 40px;
}
