html *{
	font-family: arial, sans-serif;
	
}
body{
	color: #343434;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 15px 0px;
	top: 0px;
	bottom: 0px;

}

html{
	height: 100%;
	text-align: center;
	background-image:url('/images/2.jpg');
	background-repeat: repeat;
}

select{
	border-radius: 2px;
	border: 1px solid #bababa;
	padding: 2px 3px 2px 3px;
}
textarea{
	width: 95%;
	height: 80px;
	max-width: 95%;
	min-width: 95%;
	max-height: 300px;
	border-radius: 3px;
	border: 1px solid #bababa;
	margin: 5px 0px 5px 0px;
	padding: 2px 3px 2px 3px;
}

hr{
	width: 90%;
	background: #cdcdcd;
	height: 1px;
	border: 0px solid #dddddd;
}
.imgcaption{
	color: #999999;
	font-size: 18px;
	position: relative;
	top: 95%;
	font-style: italic;
}
.wordcloud{
	z-index: 30;
	position: fixed;
	background-image: url('/images/80pixb.png');
	border-radius: 50px;
	margin: auto;
	margin-top: 50px;
	top: 0px;
	bottom: 0px;
	height: 90%;
	left: 0px;
	right: 0px;
	width: 90%;
}
.cplist{
	text-align: left;
}
.cplist-item{
	display: block;
	cursor: pointer;
	margin-top: 3px;
	color: #888888;
}
.cplist-item:hover{
	color: #343434;
}
.docklabel{
	position: relative;
	bottom: 4px;
	left: -1px;
	margin-right: 10px;
	font-weight: bold;
}
.userstatustext{
	font-size: 13px;

}
#logincont{
	position: fixed;
	-webkit-transform: translateY(-50%);
	-webkit-transform: translateX(-50%);
	left: 50%;
	top: 30%;

}
.fade{
	z-index: 10;
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
}

.ontop{
	position: relative;
	z-index: 15;
}
.pointer{
	cursor: pointer;
}
.ng-scope{
	height:100%;
}
.postimg {
	display: block;
	width: 70%;
	max-height: 300px;
	margin: 0 auto 10px auto;
}
.foot{
	top: auto;
	bottom: 10px;
}
.center{
	position: relative;
  	top: 50%;
 	-webkit-transform: translateY(-50%);
}

.skroll-pref{
	text-align: left;
	padding-left: 10px;
}

.dock *,
#button-sign{
	color: #888888;
	margin: 0px 0px 0px 0px;
}
.logindock{
	position: fixed;
	left: 20px;
	top: 20px;
}
.dock *:hover,
.dock *:active,
#button-sign:hover{
	color: #343434;
}

.button-gitlogin,
.button-googlelogin{
	padding: 8px 8px 8px 30px;
	display: inline-block;
	border-radius: 5px;
	position: relative;
	text-align: left;
	text-decoration: none;
	font-size: 13px;
	color: white;
	border: 0px solid #dcdcdc;
	
}
.button-gitlogin{
	background: url('/images/githubloginicon.png') left center no-repeat;
	background-position: 4% ;
	background-color: #444444;
	background-size: 18px 18px;
	
}
.button-googlelogin{
	background: url('/images/googleloginicon.png') left center no-repeat;
	background-position: 2%;
	background-size: 25px 25px;
	background-color: #dd4b39;
}
.button-googlelogin:hover{
	background-color: #ca3523;
}
.button-gitlogin:hover{
	background-color: #303030;
}

.googleloginicon,
.gitloginicon{
	display: inline-block;
}
.googleloginicon{
	background: url('/images/googleloginicon.png');
}

.g-plus{
	position: relative;
	margin-right: 10px;
	margin-left: auto;
}

.incorrect{
	display: block;
	font-size: 14px;
	margin-top: 0px;
	color: #dd1818;
}

.title{
	color: #417fb5;
	font-weight: bold;
	font-size: 35px;
	display: block;
}
.subtext{
	font-size: 12px;
	font-weight: bold;
	color: #777777;
}

.boldtext1{
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	margin

}
.upload-div{
	position: relative;
	display: inline-block;
	
}

input[type=file]{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	filter: alpha(opacity: 0);
    opacity: 0;
}

.button,
.button-skroll{
	padding: 8px 20px 8px 20px;
	margin: 5px 5px 5px 5px;
	background-color: #f9f9f9;
	display: inline-block;
	border-radius: 3px;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #343434;
	border: 1px solid #dcdcdc;
}


.button-skroll{
	position: relative;
	text-align: left;
	display: inline-block;
	width: 80%;
	margin: 5px 5px 5px 5px;
	font-weight: normal;
	text-decoration: none;
}

.button:hover,
.button-skroll:hover{
	border: 1px solid #828282;
	box-shadow: 0px 0px 1px #888888;
}

.button:active{
	background: #f1f1f1; 
}

.textfield,
.textfield-name{
	border-radius: 2px;
	border: 1px solid #bababa;
	padding: 2px 3px 2px 3px;
}
.textfield:focus,
.textfield-name{
	box-shadow: 1px 1px 2px #888888;
}

.textfield-name{
	min-width: 60px;
	max-width: 100px;
	width: auto;
	display: inline-block;
	box-shadow: 0px 0px 0px #888888;
}
.author,
.time{
	display: inline-block;
	margin: 5px 5px 0px 5px;
	font-size: 14px;
	top: 1px;
}
.author{
	color: #417fb5;
	font-weight: bold;
	text-align: left;
	left: 8px;
}
.time{

	text-align: right;
	color: #ababab;
	right: 8px;
}
.right{
	text-align: right;
	position: absolute;
	right: 20px;
}
.fixlink:link,
.fixlink:visited{
	color: #3cbde8;
	text-decoration: none;
}
.fixlink:hover{
	color: #70dbff;
}

.container,
.container-wide,
.container-small{
	text-align: center; 
	min-width: 240px;
	max-width: 240px;
	margin: auto;
	padding: 20px 10px 20px 10px;
	background: white;
	border-radius: 8px;
	
}
.container-small{
	padding: 10px 10px 10px 10px;
	min-width: 50px;
	position: fixed;
	left: 20px;
	
}
.container-wide{
	max-width: 30%;
	position:relative;
}
.post-div{
	word-wrap: break-word;
	position: relative;
	background: #F7F9FA;
	padding: 1px 5px 10px 5px;
	margin-bottom: 10px;
	border-radius: 8px;
}
.animate-list,
.animate-fixed{
	list-style: none;
	border-radius: 8px;
}
.animate-list.ng-enter, 
.animate-list.ng-move,
.animate-list.ng-leave{
	-webkit-transition: all 0.3s linear;
}
.animate-list.ng-enter,
.animate-list.ng-move,
.animate-list.ng-leave.ng-leave-active {
	opacity: 0;
	max-height: 0px;
}
.animate-list.ng-enter.ng-enter-active,
.animate-list.ng-move.ng-move-active 
{
	opacity: 1;
	max-height: 80px;
}

.animate-fixed.ng-enter,
.animate-fixed.ng-move,
.animate-fixed.ng-leave,
.animate-fixed.ng-leave.ng-leave-active,
.animate-fixed.ng-enter.ng-enter-active,
.animate-fixed.ng-move.ng-move-active{ 
    -webkit-transition: 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    transition: 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.animate-fixed.ng-enter,
.animate-fixed.ng-move,
.animate-fixed.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0px;
}
 
.animate-fixed.ng-enter.ng-enter-active,
.animate-fixed.ng-move.ng-move-active{
    opacity: 1;
    height: 40px;
}
