html *{
	font-family: arial, sans-serif;
}
body{
	background-image:url('/images/connect.png');
	background-repeat: repeat;
	margin-bottom: 40px;
	text-align: center; 
}
hr{
	color: red;

}


textarea{
	width: 95%;
	height: 80px;
	max-width: 95%;
	min-width: 160px;
	max-height: 300px;
	border-radius: 3px;
	border: 1px solid #bababa;
	padding: 2px 3px 2px 3px;
}

.button,
.button-skroll{
	padding: 8px 20px 8px 20px;
	margin: 5px 5px 5px 5px;
	background-color: #f9f9f9;
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
	border: 1px solid #dcdcdc;
}
.button-skroll{
	position: relative;
	text-align: left;
	display: inline-block;
	width: 80%;
	margin: 5px 5px 5px 5px;
	font-weight: normal;
	text-decoration: none;
	color: black;
}
.button:hover,
.button-skroll:hover{
	border: 1px solid #828282;
	box-shadow: 0px 0px 1px #888888;
}

.textfield{
	border-radius: 2px;
	border: 1px solid #bababa;
	padding: 2px 3px 2px 3px;
}
.textfield:focus{
	box-shadow: 1px 1px 2px #888888;
}
.author{
	color: #417fb5;
	font-weight: bold;
}
.time{
	color: #bbbbbb;
}
.right{
	text-align: right;
	position: absolute;
	right: 20px;
}
.fixlink:link,
.fixlink:visited{
	color: #3cbde8;
	text-decoration: none;
}
.fixlink:hover{
	color: #70dbff;
}

.container,
.container-wide{
	text-align: center; 
	min-width: 240px;
	max-width: 240px;
	margin: auto;
	padding: 20px 10px 20px 10px;
	background: white;
	border: 1px solid #CFCFCF;
	border-radius: 8px;
	box-shadow: 1px 1px 2px #888888;
}
.container-wide{
	max-width: 30%;
}
.post-div{
	background: #F7F9FA;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
}
.animate-list{
	list-style: none;
	border-radius: 8px;
}
.animate-list.ng-enter,
.animate-list.ng-move,
.animate-list.ng-leave {
	-webkit-transition: all 0.2s linear;
}
.animate-list.ng-enter,
.animate-list.ng-move,
.animate-list.ng-leave.ng-leave-active {
	opacity: 0;
	max-height: 0px;
}
.animate-list.ng-enter.ng-enter-active,
.animate-list.ng-move.ng-move-active
{
	opacity: 1;
	max-height: 40px;
}
