<div class="container">
	<h3> Enter Skroll name: </h3>
	<form>
		<input class="textfield" ng-model="skrollname" type="text" placeholder="new Skroll"/>
		<a class="button" href="/#/s/{{skrollname}}">Open</a><br><br><hr>
	</form>
	<h3> Log in: </h3>
	<div>
		<input class="textfield" type="text" placeholder="Email" id="useremail" />
	</div>
	<div>
		<input class="textfield" type="password" placeholder="Password" id="password" />
	</div>
	<div>
		<input class="button" type="submit" value="Log in" />
		<input class="button" type="submit" value="Register" />
	</div>
</div>



