<div class="container">
	<h3> Enter Skroll name: </h3>
	<form>
		<input class="textfield" ng-model="skrollname" type="text" placeholder="new Skroll"/>
		<a class="button" href="/#/s/{{skrollname}}">Open</a><br><br><hr>
	</form>
	<h3> Log in: </h3>
	<input class="textfield" ng-model="email" type="text" placeholder="Email"/>
	<input class="textfield" ng-model="pass" type="password" placeholder="Password"/>
	<input ng-click="log()" class="button" type="submit" value="Log in" />
	<input ng-click="reg()" class="button" type="submit" value="Register" />
</div>



