<div class="container">
	<h2 >Browse Skrolls</h2>
		Search: <input class="textfield" type="text" ng-model="filterBy"><br>
		Sort by: 
		<select ng-model="sortBy">
			<option value="name">Alphabetical</option>
			<option value="skrollID">Date</option>
			<option value="postCount">Posts</option>
		</select><br><br><hr>
		<li class="animate-fixed" ng-repeat="skroll in skrolls | filter:filterBy | orderBy:sortBy">
			<div ng-show="skroll.head.visibility === 'public'" skroll-button </div>
		</li>
</div>
<div dockdir></div>