<div class="centre">
	<h2>List of Skrolls</h2>
	<br/>
	<div class="options">
		Search: <input type="text" ng-model="query"><br>
		Sort by: 
		<select ng-model="sortBy">
			<option value="name">Alphabetical</option>
			<option value="age">Date</option>
			<option value="mark">Rating</option>		
		</select>
	</div><br>
	<div>
		<ul class="container">
			<li class="animate-list" ng-repeat="skroll in skrolls | filter:query | orderBy:sortBy">
				<a href="/#/skrolls/{{skroll.skrollID}}">{{skroll.name}}</a>
			</li>
		</ul>
	</div><br>
	<a href="/#/">-Home-</a>
</div>